*.pyc
locust.wpr
../performance-test/locust.egg-info/**
locustio.egg-info/**
../performance-test/docs/_build/**
../performance-test/docs/cli-help-output.txt
../performance-test/docs/config-options.rst
mock.*.egg
dist/**
.idea/**
*.iml
*.ipr
.vagrant
build/
.coverage
.tox/
../performance-test/docs/env-options.rst
.editorconfig
__pycache__
.pytest_cache
.sass-cache/
